/* Container to hold everything properly */
.companytrack-container {
  margin-top: 150px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* Page heading styling */
.page-heading {
  color: #333;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

/* Controls (Search, Sort, and Filter) */
.controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Search input */
.search-input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Dropdowns */
.dropdowns {
  display: flex;
  gap: 10px;
}

.sort-select,
.filter-select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
}

.company-card {
  width: 100%;
  max-width: 350px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  text-decoration: none;
  color: inherit;
}

.company-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.date-text {
  font-size: 0.9rem;
  color: #555;
}

.past-date {
  color: green;
}


.track-button {
  display: block;       
  width: 100%;         
  max-width: 200px;     
  margin: 10px auto;    
  padding: 10px 0;     
  text-align: center;  
  background-color: black;
  color: white;         
  font-size: 16px;      
  border: none;         
  border-radius: 5px; 
  cursor: pointer;    
  border-radius: 20px;  
  text-decoration: none; 
}


