/* Loader Styles */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #2c3e50;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  font-family: "Arial, sans-serif";
  background-color: #f5f5f5;
  min-height: 100vh;
  padding: 20px;
}

.welcome-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px; 
  margin: 0 auto;
  padding: 100px 50px;
  margin-top:100px;
}

.welcome-text {
  flex: 1;
  color: #2c3e50;
  padding-right: 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-text h1 {
  color: #34495e;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.placement-status {
  font-size: 20px;
  color: #27ae60;
  font-weight: bold;
  padding: 12px 30px;
  background-color: #eafaf1;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
}



.banner-image {
  flex: 1;
  text-align: right; /* Align image to the right */
}

.banner-image img {
  max-width: 80%; /* Adjust width as needed */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}



.notice-board {
  width: 50%;
  max-width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 30px auto;
  border: 1px solid #e0e0e0;
}

.notice-board h2 {
  font-size: 28px;
  color: #2c3e50;
  text-align: center;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.notice-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: px;
}

.notice-card {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.notice-card h3 {
  font-size: 18px;
  color: #34495e;
  margin-bottom: 10px;
}

.no-drives {
  font-size: 16px;
  color: #7f8c8d;
  text-align: center;
  margin: 20px 0;
}
