.placify-login-body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.placify-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.placify-login-box {
    display: flex;
    width: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.placify-login-title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.placify-login-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.placify-login-tagline {
    font-size: 14px;
    color: #666;
}

.placify-login-form-section {
    width: 60%;
    padding: 40px;
}

.placify-login-heading {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.placify-login-error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.placify-login-card {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.placify-login-form-group {
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.placify-login-form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.placify-login-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.placify-login-btn-primary {
    width: 50%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}


.placify-login-links-container {
    text-align: center;
    margin-top: 15px;
}

.placify-login-btn-secondary {
    background: none;
    border: none;
    padding: 10px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
    font-weight: bold;
}

.placify-login-btn-secondary:hover {
    color: #6a11cb;
}

@media (max-width: 768px) {
    .placify-login-box {
        flex-direction: column;
    }

    .placify-login-title-section {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
    }

    .placify-login-form-section {
        width: 100%;
    }
}

